*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
background:#0c7285;
display:flex;
flex-direction:column;
align-items:center;
overflow:hidden; 
margin-bottom: 20px;
}

h1{
color:white;
font-size:40px;
margin-top:10px;
}

.input-box{
margin-top:10px;
background:#073642;
padding:15px;
width:80%;
border-radius:12px;
display:flex;
gap:10px;
justify-content:center;
box-shadow:0px 5px 10px rgba(0,0,0,0.3);
}

input{
padding:10px;
border-radius:8px;
border:none;
width:220px;
font-size:16px;
}

button{
background:#007bff;
border:none;
color:white;
padding:10px 20px;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

 .board{
flex:1;
width:90%;
display:flex;
gap:20px;
margin-top:10px;
margin-bottom:30px;
overflow-y:auto;

scrollbar-width: none; 
-ms-overflow-style: none; 
}

.board::-webkit-scrollbar{
display:none;
}

.column{
flex:1;
display:flex;
flex-direction:column;
}

h2{
padding:12px;
border-radius:10px;
color:white;
text-align:center;
margin-bottom:10px;
}

.pending{
background:#ff6b81;
}

.working{
background:#feca57;
color:black;
}

.done{
background:#1dd1a1;
}

.taskBox{
flex:1;
background:#dfe6e9;
border-radius:10px;
padding:10px;
overflow-y:auto;
scrollbar-width:none;
-ms-overflow-style:none;
}

.taskBox::-webkit-scrollbar{
display:none;
}

.task{
background:white;
padding:12px;
margin-bottom:10px;
border-radius:10px;
cursor:grab;
box-shadow:0px 3px 8px rgba(0,0,0,0.2);
}

.task h3{
margin:0;
font-size:16px;
}

.task p{
margin-top:5px;
font-size:14px;
color:gray;
}

.datetime{
color:white;
font-size:18px;
margin:5px;
}